{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">ChatBot!</div>
                <div class="panel-body">
                    <div class="container" id="messageContainer">
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <label for="inputText" class="no-sr"></label>
                            <input type="text" class="form-control" id="inputText">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="send">Envoyer</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="hidden model">
    <div class="row message-bubble message-model">
        <p class="text-muted name"></p>
        <span class="text-content"></span>
    </div>
</div>
{% endblock %}

