{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">ChatBot!</div>
                <div class="panel-body">
                    <div class="container" id="messageContainer">
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <label for="inputText" class="no-sr"></label>
                        <input type="text" class="form-control" id="inputText">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="send">Envoyer</button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Guide utilisateur</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        X est un ChatBot possédant les interactions suivantes : <br>
                        <ul>
                            <li> Gestion de profil
                                <ul>
                                    <li>Création de profil (ex : <b>crée moi le profil <i>Djingo</i></b>)</li>
                                    <li>Connexion au profil (ex : <b>connecte moi avec le profil <i>Djingo</i></b>)</li>
                                </ul>
                            </li>
                            <li>
                                Gestion de rendez-vous
                                <ul>
                                    <li>
                                        Ajouter un rendez-vous :
                                        (ex: <b>ajoute moi un rendez-vous <i>le 17 Avril à 17h</i></b>)
                                    </li>
                                    <li>
                                        Supprimer un rendez-vous :
                                        (ex: <b>supprime mon rendez-vous <i>du 17 Avril à 17h</i></b>)
                                    </li>
                                    <li>Lister les rendez-vous : (ex: <b>liste mes rendez-vous</b>)</li>
                                </ul>
                            </li>
                            <li>
                                Gestion de routines (raccourci servant à effectuer plusieurs tâches)
                                <ul>
                                    <li>Ajouter une routine: (ex: <b>crée une routine <i>matinale</i></b>)</li>
                                    <li>Executer une routine: (ex: <b>lance ma routine <i>matinale</i></b>)</li>
                                    <li>Supprimer une routine: (ex: <b>supprime ma routine <i>matinale</i></b>)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden model">
        <div class="row message-bubble message-model">
            <p class="text-muted name"></p>
            <span class="text-content"></span>
        </div>
    </div>
{% endblock %}

